@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* stylelint-disable at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable at-rule-no-unknown */

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}